<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="body">
    <section id="wrapper">
      {% include "shared/header" %}	
	  
	    
	    <section role="main">
	     <div class="row-fluid">
	     	<div class="span6 offset3">
	     		<div class="innerSpan12">
	     			
	     			<div class="mainContent center">
	     				<p>Pour nous contacter, envoyez un email à <strong><a href="mailto:contact@passmoilecelte.fr">contact@passmoilecelte.fr</a></strong></p>
	     				<p>Retrouvez nous également sur les réseaux sociaux :</p>
	     				<ul class="unstyled inline" >
	     					<li style="display:inline">
	     						<a href="https://www.facebook.com/pages/Passmoi-le-Celte/207791369288447"><img src="/images/facebook.png"/></a>
	     					</li>
	     					<li style="display:inline">
	     						<a href="https://twitter.com/Passmoilecelte"><img src="/images/twitter.png"/></a>
	     					</li>
	     					<li style="display:inline">
	     						<a href="https://plus.google.com/108356997464030343521"><img src="/images/google.png"/></a>
	     					</li>
	     				</ul>
	     			</div>
	     		</div>
	     	</div>
	     		
	     	
	     </div>
	    </section>
	    
	
      {% include "shared/footer" %}
    </section>
    {% include "shared/analytics" %}
  </body>
</html>