<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="body">
    <section id="wrapper">
      {% include "shared/header" %}	
	  
	    
	    <section role="main">
	     <div class="row-fluid">
	     	<div class="span12">
	     				<ul class="unstyled inline" style="display:inline">
	     					<li>
	     						<img src="/images/facebook.png"/>
	     					</li>
	     					<li>
	     						<img src="/images/twitter.png"/>
	     					</li>
	     					<li>
	     						<img src="/images/google.png"/>
	     					</li>
	     				</ul>
	     				<ul class="inline">
  							<li>.test.</li>
  							<li>.test.</li>
  							<li>.test.</li>
						</ul>
	     			</div>
	     		
	     	
	     </div>
	    </section>
	    
	
      {% include "shared/footer" %}
    </section>
    {% include "shared/analytics" %}
  </body>
</html>