<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="body">
    <section id="wrapper">
      {% include "shared/header" %}	
	  
	    
	    <section role="main">
	     <div class="row-fluid">
	     	<div class="span6 offset3">
	     		<div class="innerSpan12">
	     			<div class="mainContent">
	     				{{body}}
	     			</div>
	     		</div>
	     	</div>
	     </div>
	    </section>
	    
	
      {% include "shared/footer" %}
    </section>
    {% include "shared/analytics" %}
  </body>
</html>